<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <property name="LOG_HOME" value="/mnt/logs" />
    <property name="LOG_PATTERN" value="%date %level [%thread] [%file:%line] - %msg%n"/>

    <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/driver.log</file>
        <immediateFlush>true</immediateFlush>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/driver-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>30MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>150MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="ROLLING-FILE"/>
    </root>
</configuration>
